{% extends 'base.html.twig' %}

{% block body %}
    <h1>Listado de Empleados</h1>
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>Nombre</th>
                <th>Dirección</th>
                <th>Teléfono</th>
                <th>Salario</th>
                <th>Departamento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in employees %}
            <tr>
                <td><strong>{{ employee.name }}</strong></td>
                <td>{{ employee.address }}</td>
                <td><a href="tel:{{ employee.telephone }}">{{ employee.telephone }}</a></td>
                <td>{{ employee.salary }} USD</td>
                <td>
                <a target="_blank" href="{{ path('departamentos_show', { 'id': employee.department.id }) }}">{{ employee.department }}</a>
                </td>
                <td>
                <a href="{{ path('empleados_show', { 'id': employee.id }) }}" class="btn btn-sm">mostrar</a>                
                <a href="{{ path('empleados_edit', { 'id': employee.id }) }}" class="btn btn-sm">editar</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('empleados_new') }}" class="btn btn-primary btn-lg btn-block">Agregar nuevo empleado</a>
{% endblock %}
